/* Mobile as default */
#wrapper {
  margin: 0 auto;
  text-align: center;
  width: 484px;
  margin-top: 6vh;
}

#wrapper div {
  float: left;
  clear: none;
}

.headerSmall {
  line-height: 75px;
  width: 480px;
}

.headerLarge {
  line-height: 150px;
  width: 480px;
}

.headerMedium {
  line-height: 125px;
  width: 480px;
}

.square {
  width: 240px;
  line-height: 250px;
}

.footer {
  line-height: 80px;
  width:480px;
  margin-bottom: 6vh;
}

/* Desktop View */
@media (min-width: 768px) {
  #wrapper {
    width: 970px;
  }

  .headerSmall {
    width: 960px;
    line-height: 100px;
  }

  .footer {
    width: 760px;
    line-height: 150px;
  }

  .square {
    width: 190px;
    line-height: 250px;
  }

  .headerLarge {
    width: 200px;
    line-height: 600px;
    margin-left: 0px;
    float: left;
  }

  .headerMedium {
    line-height: 200px;
    width: 380px;
    margin: auto;
  }
} 