body {
  background: linear-gradient(white, green);
}

h1 {
  font-family: 'Faster One', cursive;
  font-size: 5em;
  background: -webkit-linear-gradient(rgb(255, 0, 0) 10%, rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
}

select {
  background-color: red;
  color: white;
  font-size: 1em;
}

main div {
  background-color: red;
  color: white;
}

div h2 {
  font-size: 1.5em;
}

div img {
  background-color: white;
}